*{
    margin: 0;
    padding: 0;
}

body{
    color:white;
    background-color: #2F3136;
    margin: 0;
}

header{
    font-size: 4em;
}

header p{
    display: inline;
    position: fixed;
}

#profil-header-left{
    top: 1%;
    left: 1%;
}

#profil-header-right{
    top: 1%;
    right: 1%;
}

#profil-content-centre{
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    text-align: center;
}

#profil-content-centre img {
    border-radius: 100%;
    border: 6px solid yellow;
    width: 400px;
    height: 400px;
}

#titre-container {
    text-align: center;
    position: absolute;
    top: 70%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    width: 75%;
    padding: 0.5em 0;
    border: 1px solid;
    background-color: #4A4C50;
    border-radius: 25px;
}

#titre{

}