
.titre-comp{
    color: #CACACA;
    height: 15vw;
    font-size: 10vw;
    margin-left: 5vw;
}

.description{
    color: #CACACA;
    height: 60vw;
    font-size: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.val{
    color: #CA841B;
    background-color: #36393F;
    border-radius: 30px;
    height: 15vw;
    width: 35%;
    border:1px solid #CA841B;
    margin-left: 11vw;
    font-size: 5vw;

}

.nonval{
    color: #CACACA;
    background-color: #36393F;
    border-radius: 30px;
    height: 15vw;
    width: 33%;
    border:1px solid #CACACA;
    margin-bottom: 10vw;
    margin-left: 11vw;
    font-size: 5vw;

}

.icone-bloc{
    display: block;
    width: 100%;
    height: 100%;
}

.titre{
    display: block;
    color:#A3A3A3;

}

img{
    max-width: 100%;
    max-height: 100%;
}

.liste-bloc{
    padding: 15px;
    display: flex;
    border: 5px solid #A3A3A3;
    margin: 5%;
    margin-top: 13%;
    background-color: #4A4C50;
    border-radius: 20px;
    font-size: 4vw;
    z-index: 0;
}

#entete .titre{
    margin-top: 10%;
}

.liste-li-b{
    list-style: none;
    text-align: center;
    display: block;
    width: 75%;
}

.liste-li-b2{
    list-style: none;
    text-align: center;
    display: block;
    width: 100%;
    
}

h2{
    color:#A3A3A3;   
    margin-bottom: 12vw;
    
    margin-left: 22vw;
}

#skillsButton{
    position: fixed;
    top: 80%;
    width: 100%;
}