.listeBlocs{
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 0;
    margin-top: 7em;
}

form{
    border: 2px solid #CACACA;
    background-color: #36393F;
    border-radius: 20px;
    margin-top: 4vw;
    padding-top: 3%;
    padding-bottom: 3%;
}

input[type="submit"]{
    font-size: 4vw;
    width: 100%;
    height: 200%;
    cursor:pointer;
    background-color: #36393F;
    color: #CACACA;
    text-decoration: none;
    border: none;
}