html{
    height: 100%;
    width: 100%;
}

body{
    background-color: #2F3136;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.icone-bloc{
    display: block;
    width: 100%;
    height: 100%;
}

.titre{
    display: block;
    color:#A3A3A3;

}

img{
    max-width: 100%;
    max-height: 100%;
}

.liste-bloc{
    padding: 15px;
    display: flex;
    border: 5px solid #A3A3A3;
    margin: 5%;
    background-color: #4A4C50;
    border-radius: 20px;
    font-size: 4vw;
    z-index: 0;

}

.liste-li-b{
    list-style: none;
    text-align: center;
    display: block;
    padding-left: 10%;
}

.comp{
    display: inline-block;
    padding: 0 5vw;
    font-size: 5vw;
    border-right: 2px solid gray;
}

.comp:last-child{
    border-right: none;
}

.comp-att{
    display: inline-block;
    padding: 0 5vw;
    font-size: 5vw;
    border-right: 2px solid #CA841B;
}

.comp-att:last-child{
    border-right: none;
}

.comp-val{
    display: inline-block;
    padding: 0 5vw;
    font-size: 5vw;
    border-right: 2px solid #CBBE45;
}

.comp-val:last-child{
    border-right: none;
}

.menu-bar{
    display: block;
    background-color: white;
    width:100%;
    margin-bottom: 0%;
    position: fixed;
    bottom: 0;
    height:10vw;
    z-index: 1;
}


.icone-menu{
    display: inline-block;
    height: 50px;
    width: 50px;
}






.pourcent{
    display: block;
    border: 1px solid #A3A3A3;
    border-radius: 10px;
    padding: 10%;
    color:#A3A3A3;
    width: 100%;
}



.liste-menu{
    padding: 15px;
    display: flex;
}

.liste-li{
    list-style: none;
    text-align: center;
    display: block;
    border-right: 1px solid gray;

}

ul li:last-child{
    border-right: none;
}

.liste-a{
    text-decoration: none;
    padding: 0 7.5vw;
    display: block;
}



.liste-comp{
    margin-bottom: 12vw;
    z-index: 0;

}
.liste-comp-li{
    list-style: none;
    text-align: center;
    padding: 5%;
    margin-left:10%;
    margin-right: 15%;

    margin-top: 5vw;
    border: 5px solid #CACACA;
    border-radius: 100px;
    background-color: #36393F;

    color:#A3A3A3;
}

.liste-comp-li-att{
    list-style: none;
    text-align: center;
    padding: 5%;
    margin-left:10%;
    margin-right: 15%;

    margin-top: 5vw;
    border: 5px solid #CA841B;
    border-radius: 100px;
    background-color: #36393F;

    color:#CA841B;
}
.liste-comp-li-val{
    list-style: none;
    text-align: center;
    padding: 5%;
    margin-left:10%;
    margin-right: 15%;

    margin-top: 5vw;
    border: 5px solid #CBBE45;
    border-radius: 100px;
    background-color: #36393F;

    color:#CBBE45;
}

.liste-comp-li-non-debloque{
    list-style: none;
    text-align: center;
    padding: 5%;
    margin-left:10%;
    margin-right: 15%;

    margin-top: 5%;
    border: 5px solid #CACACA;
    border-radius: 100px;
    background-color: #797979;

    color:#A3A3A3;
}

.listeBlocs{
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 0;
    margin-top: 7em;
}

form{
    border: 2px solid #CACACA;
    background-color: #36393F;
    border-radius: 20px;
    margin-top: 4vw;
    padding-top: 3%;
    padding-bottom: 3%;
}

input[type="submit"]{
    font-size: 4vw;
    width: 100%;
    height: 200%;
    cursor:pointer;
    color: #CACACA;
    text-decoration: none;
    border: none;
}

.actif{
    background-color: darkgray;
}

.unactif{
    background-color: #36393F;
}