

#searchbox {
    position: absolute;
    top: 10%; left: 10%;
    display: flex;
    height: 5em;
    width: 80%;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

#searchbox input {
    outline: none;
}

#searchbox input[type= "text"] {
    background: transparent;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    border-width: 0px;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 4em;
    font-style: italic;
    width: 90%;
    height: 100%;
    color: #828282;
    display: inline-table;
    vertical-align: baseline;
    background-color: white;
    border-radius: 3em 0px 0px 3em;
    border-bottom: 2px solid transparent;
    box-shadow: 0 2px 15px 0 rgb(255, 255, 255);
}


#button-recherche {
    height: 5.2em;
}


#button-submit::-moz-focus-inner {
    border: 0;
}

/*
* POUR LE SPINNER WHEEL
*/


#box{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 40em;
    height: 40em;
  /*border-radius: 100%;
    border: 1px solid teal;*/
}

#dot{
    position: absolute;
    border-radius: 100%;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightslategrey;
}

#box img{
    width: 20%;
    height: 20%;
    margin-left: -5%;
    margin-top: -5%;
    position: absolute;
    border-radius: 100%;
}