*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}

body{
    color:#A3A3A3;
    background-color: #2F3136;
    width: 100%;
    height: 100%;
    overflow: hidden; /*En version pc pourris a cause des % qui sont gros*/
}


h1 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
    font-size: 500%;
}

h2 {
    text-align: center;
}

form{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
}

.champ{
    height: 15%;
    margin-top: 2em;
    padding-bottom: 2em;
}

input[type="text"]{
    width: 100%;
    background-color:#4A4C50;
    border: 2px solid #797979;
    height: 70%;
    border-radius: 10em;
    color: white;
    font-size: 300%;
}

input[type="text"]:focus{
    outline: none;
    border-color: lightyellow;
}

input[type="password"]{
    width: 100%;
    background-color:#4A4C50;
    border: 2px solid #797979;
    height: 70%;
    border-radius: 10em;
    color: white;
    font-size: 300%;
}
input[type="password"]:focus{
    outline: none;
    border-color: lightyellow;
}


label{
    font-size: 300%;
}

input[type="submit"]{
    background-color:#4A4C50;
    border: 2px solid #797979;
    border-radius: 10em;
    color:#A3A3A3;
    width: 40%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 300%;
    margin-top: 2em;
}